.side-video-container {
    background: #fff;
    display: flex;
    gap: 20px;
    width: 420px;
}

.side-image-container {
    display: flex;
    padding: 10px;
    width: 100%;
}

.side-video-image {
    height: 90px;
    width: 120px;
}

.image-container {
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
    -o-box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
    border-radius: 12px;
}

.selected-video {
    background: #DCDCDC;
}

.side-image-snippet-text-container {
    margin-left: 20px;
}

.image-snippet-title, .image-snippet-channelTitle {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.image-snippet-channelTitle {
    font-size: 12px;
}

@media only screen and (min-width: 500px) and (max-width: 1050px)  {
    .side-video-container {
        width: 100%;
    }

    .image-snippet-title, .image-snippet-channelTitle {
        width: calc(100vw - 150px);
    }
}